.promo a:hover, #options h5 {
	color: #db7030;
}



.clearfix {
	clear: both;
}

#closer { 
	height: 240px;
	width: 40px;
	float: left;
	background-color: #333;
	position: relative;

}


.open:hover, .close:hover {
	background-color: #383838;
}

#optwrap {
	position: absolute;
	top: 0px;
	font-family: Verdana, Arial, sans-serif;
	color: #8d8d8d;
	left: -210px;
}

#options {
	float: left;
	width: 170px;
	height: 200px;
	padding: 20px;
	position: relative;

	background: #333;
}

#options h5 {
	font-family: Bebas, Arial, sans-serif !important;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
}

#options strong	{
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 14px;
	clear: both;
}

#options p {
	font-size: 9px;
	line-height: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#options li {
	font-size: 10px;
}
.open {
		background: url(/static/images/temptation/option/op.png) center center no-repeat;
		display: block;
		
}

.open, .close {
	position: absolute;
	width: 40px;
	height: 240px;

}

.close {
	background: url(/static/images/temptation/option/op.png) center center no-repeat;
	
	display: none;
}

#options ul li {
	display: block;
}

.darkop, .lightop {
	font-size: 11px;
	color: #505050;
	font-style: italic;
	text-align: center;
}

.promo a {
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	color: #606060;
	font-size: 10px;
	text-decoration: none;	
}

.promo a:hover {
	color: #6fb33e;
}

select {
	width: 100%;
	padding: 3px;
	margin: 10px 0 15px 0;	
	color: #8d8d8d;
	font-size: 11px;
	background: #2b2b2b;
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #444;
}

option {
	padding: 3px 0;
	background: #2b2b2b;
}

