{{extend 'templates/clickr.html'}}
    <div class="half">
      <h2>Create your online RESUME quickly and easily for FREE.</h2>
      <p>The web is fast transforming the way we look for jobs. Join hundreds of professionals who created their online résumés and getting the word out about what they can do. It's simple, easy and most of all <b>FREE</b>. Currently serving <b>{{=stats.profile_count}}</b> profiles.</p>
      <p>{{=A('JOIN NOW', _href=URL('user/login'), _class="button")}} &nbsp;&nbsp;absolutely <b>FREE</b></p>
      <p class="tiny">See a <b><a href="http://www.cvstash.com/profile/john_doe_EUQ8q3gDV">SAMPLE RESUME</a></b> for a preview, or <b>{{=A('LOG IN', _href=URL('user/login'))}}</b> if you already have an account. Sign up, create and then distribute within minutes.</p>
    </div><!-- .half -->
    <div class="half last">
      <div class="slider_wrap">
          <ul id="slider">
              <li><img src="/static/images/clickr/slide1.png" alt="Easy Resume Management | CVStash"></li>
              <li><img src="/static/images/clickr/slide2.png" alt="Joining is easy | CVStash"></li>
              <li><img src="/static/images/clickr/slide3.png" alt="Elegant and Professional looking Resumes | CVStash"></li>
          </ul>
      </div><!-- .slider_wrap -->
      <ul id="pager"></ul>
    </div><!-- .half last -->

{{pass}}
